{% include "modules/header.html" %}

<section class="analytics">

    <!--<div class="container">-->
    <div class="regFormLine">
        <form method="post" action="{{ url_for('accueil') }}">

            <span class="name" for="form_date">Depuis le </span>
            <input type="date" id="selectDateFrom" name="date_debut" value= {{date_debut}} min="2020-01-01" max="2020-12-31" >

             <span for="start">Serveur :</span>
            <select class="" name="serveur">
                <option value="">-- Serveur --</option>
                {% for serveur in serveurs %}
                <option value="{{ serveur }}">{{ serveur }}</option>
                {% endfor %}
            </select>
            
            <span class="">Nombre d'utilisateurs maximum</span>
            <input class="price" type="text" name="users" value="10">

            <button class="btn btn-outline mb1" type="submit">Soumettre</button>
        </form>
    </div>
    
    
    <div class="row">
        <div class="col-md-12">
            <div class="bloc_graph">
                <div class="image-group">
                    <div class="col-md-6">
                        <img class="dataimg" src="/static/images/image.png"/>
                    </div>
                </div>

            </div>

        </div>

</section>

